.App {
  text-align: center;
  justify-content: flex-start;
  animation: fadeIn 1s ease-in-out;
}

select {
  width: 14 0px; 
  height: 20px; 
  font-size: 13px;
  font-weight: bold;
  color: rgb(240, 139, 24);
  border-radius: 500px;
  padding-left: 10px;
  cursor: pointer;
   
}


option {
  cursor: pointer;
  min-width: 20px;
    padding: 5px; 
  font-size: 13px;
  color:black;
  font-weight: bold;
  
  
}
.controls {
  margin: 0px;
  justify-content: space-between;
  padding: 20px;
  display: flex ;
  font-size: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 246, 227);
  border-radius: 5px;
 
}
.status{
 

  display: flex;
 align-items: center;

}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}



.board {
  display: flex;
  justify-content: space-around;
  
  animation: fadeIn 1s ease-in-out;
  
}

.lane {
   padding: 10px;
  margin: 10px;
  
}
.tickettitle{
  text-align: left  ;
  justify-content: flex-start;
  padding: auto;
  margin: auto;
}
@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.ticket {
cursor: pointer;
  padding: auto;
  margin: auto;
 
   }

   .ticket:hover {
    transform: scale(1.1); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    
  }
  
  .ticket p div {
    font-size: 10px; 
    transition: font-size 0.1s ease-in-out; 
  }
  .ticket:hover p div {
    font-size: 10px;
  }
   .feature{
    margin-top: 20px;
    padding: auto;
   }
   .user{
    text-align: left;
   }
   .Feature{
    text-align: left;
    padding-right: 2px;
   
   }

   .numberStyle
   { font-size: 15px;
     color: rgba(0,0,0,0.5);
     
     margin-top: 8px;
     margin-left: 20px;

   }
   .statusName{
    margin-top: 20px;
    margin-left:10px;
    color:rgba(9, 9, 9, 0.8);
    

   }
   .dot{
    margin-top: 2px;
    align-items: center;
    
    opacity: 20%;
   }

/* Add more styling based on your design */
