body {
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: linear-gradient(to right,rgba(239, 247, 215,0.1), rgba(242, 215,247,0.1));

  font-size:14px ;
  transition: width 1s ease-in-out 2s;

}


